<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class='nav-wrapper blue darken-2'>
      <a href='#' class='brand-logo center'>Twitter Clone</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<%= yield %>

</body>
</html>
